[build]
	command = "CI=false yarn build"
	functions = "netlify/functions"
	publish = "build"

[functions]
    node_bundler = "esbuild"
    external_node_modules = ["mongodb", "formidable"]

[[redirects]]
    from = "/*"
    to = "/"
    status = 200